*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

body {
  background-color: black;
  color: whitesmoke;
}

h2 {
  color: goldenrod;
}

/*##### for-phone-only ##########*/
@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    top: 0;
    z-index: 111;
    width: 100%;
    background: rgb(3, 3, 3);
    padding: 14px 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  header .hide-on-mobile {
    display: none;
  }
  header .logo {
    max-width: 70px;
  }
  header .icon-hamburger {
    width: 1.4375rem;
  }
  header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
  }
  header .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  header .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  header .overlay a:hover,
  header .overlay a:focus {
    color: #f1f1f1;
  }
  header .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  main {
    background-color: black;
    color: whitesmoke;
    padding: 9rem 0rem 4rem 0rem;
    text-align: center;
  }
  main section + section {
    margin-top: 7.125rem;
  }
  main .hero {
    position: relative;
  }
  main .hero #myVideo {
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
  main .hero .content {
    position: absolute;
    top: 20px;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    color: #f1f1f1;
    width: 100%;
    padding: 14px;
    padding-top: 22px;
  }
  main .hero #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  main .hero #myBtn:hover {
    background: #ddd;
    color: black;
  }
  main .hero h1 {
    margin-bottom: 1.875rem;
  }
  main .our-vision {
    margin-top: 291px;
  }
  main .awards {
    position: relative;
  }
  main .awards .text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    width: 100%;
    padding: 30px;
  }
  main .awards .text p {
    font-weight: 500;
    text-align: center;
  }
  main .awards h2 {
    margin-bottom: 2rem;
  }
  main .awards picture + picture {
    margin-top: 32px;
  }
  main .visits h2 {
    margin-bottom: 32px;
  }
  main .articals {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .articals h2 {
    margin-bottom: 25px;
  }
  main .articals .item + .item {
    margin-top: 22px;
  }
  main .articals .item {
    padding: 21px;
    border: 0.5px solid gray;
    border-radius: 15px;
  }
  main .articals .item p {
    margin-bottom: 21px;
    line-height: 30px;
  }
  main .articals .item a {
    color: goldenrod;
  }
  main .location {
    background-image: url(../assets/mobile/night-sky-left.png);
    background-repeat: no-repeat;
  }
  main .location .text {
    padding-left: 54px;
    padding-right: 54px;
    margin-bottom: 32px;
    background: rgba(0, 0, 10, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
  }
  main .location .text h3 {
    margin-bottom: 25px;
  }
  main .location .text .icon-and-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    opacity: 0.8;
  }
  main .location .text .icon-and-info + .icon-and-info {
    margin-top: 22px;
  }
  main .location .google-map {
    padding-bottom: 50%;
    position: relative;
  }
  main .location .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  main .they-said h2 {
    margin-bottom: 32px;
  }
  main .our-gouls {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .our-gouls h2 {
    margin-bottom: 25px;
  }
  main .our-gouls p + p {
    margin-top: 22px;
  }
  main .our-gouls p {
    line-height: 34px;
  }
  footer {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(0, 5, 5) 10%, rgb(0, 8, 10) 100%);
    color: whitesmoke;
    padding-top: 1.875rem;
    padding-bottom: 2.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer ul {
    padding-right: 0rem;
  }
  footer .logo {
    max-width: 90px;
    margin-bottom: 2.125rem;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.125rem;
  }
  footer .links li + li {
    margin-top: 1.3125rem;
  }
  footer .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.1875rem;
    margin-bottom: 34px;
  }
  footer .social-media li {
    width: 90%;
  }
  footer .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*############ for-tablet-portrait ##############*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 2px 20px 2px 20px;
  }
  header .logo {
    max-width: 90px;
  }
  header .icon-hamburger,
  header .overlay {
    display: none;
  }
  header ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
  }
  main {
    background-color: black;
    color: whitesmoke;
    padding: 2.75rem 0rem 4rem 0rem;
    text-align: center;
  }
  main .hero {
    position: relative;
  }
  main .hero #myVideo {
    min-width: 100%;
    min-height: 100%;
  }
  main .hero .content {
    position: absolute;
    top: 20px;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    color: #f1f1f1;
    width: 100%;
    padding: 14px;
    padding-top: 22px;
  }
  main .hero #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  main .hero #myBtn:hover {
    background: #ddd;
    color: black;
  }
  main .hero h1 {
    margin-bottom: 1.875rem;
  }
  main .our-vision {
    margin-top: 291px;
  }
  main .awards {
    position: relative;
    padding-top: 91px;
  }
  main .awards .text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    width: 100%;
    padding: 30px;
  }
  main .awards .text p {
    font-weight: 500;
    text-align: center;
  }
  main .awards h2 {
    margin-bottom: 2rem;
  }
  main .awards picture + picture {
    margin-top: 32px;
  }
  main .visits h2 {
    margin-bottom: 32px;
  }
  main .articals {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .articals h2 {
    margin-bottom: 25px;
  }
  main .articals .item + .item {
    margin-top: 22px;
  }
  main .articals .item {
    padding: 21px;
    border: 0.5px solid gray;
    border-radius: 15px;
  }
  main .articals .item p {
    margin-bottom: 21px;
    line-height: 30px;
  }
  main .articals .item a {
    color: goldenrod;
  }
  main .location {
    background-image: url(../assets/mobile/night-sky-left.png);
    background-repeat: no-repeat;
  }
  main .location .text {
    padding-left: 54px;
    padding-right: 54px;
    margin-bottom: 32px;
    background: rgba(0, 0, 10, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
  }
  main .location .text h3 {
    margin-bottom: 25px;
  }
  main .location .text .icon-and-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    opacity: 0.8;
  }
  main .location .text .icon-and-info + .icon-and-info {
    margin-top: 22px;
  }
  main .location .google-map {
    padding-bottom: 50%;
    position: relative;
  }
  main .location .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  main .they-said h2 {
    margin-bottom: 32px;
  }
  main .our-gouls {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .our-gouls h2 {
    margin-bottom: 25px;
  }
  main .our-gouls p + p {
    margin-top: 22px;
  }
  main .our-gouls p {
    line-height: 34px;
  }
  footer {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(0, 5, 5) 10%, rgb(0, 8, 10) 100%);
    color: whitesmoke;
    padding-top: 1.875rem;
    padding-bottom: 2.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer ul {
    padding-right: 0rem;
  }
  footer .logo {
    max-width: 90px;
    margin-bottom: 2.125rem;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.125rem;
  }
  footer .links li + li {
    margin-top: 1.3125rem;
  }
  footer .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.1875rem;
    margin-bottom: 34px;
  }
  footer .social-media li {
    width: 90%;
  }
  footer .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*############ for-tablet-landscape #############*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 22px 120px 22px 120px;
  }
  header .logo {
    max-width: 90px;
  }
  header .icon-hamburger,
  header .overlay {
    display: none;
  }
  header ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
  }
  main {
    text-align: center;
  }
  main .hero {
    position: relative;
    margin-bottom: 10px;
  }
  main .hero #myVideo {
    min-width: 100%;
    min-height: 100%;
  }
  main .hero .content {
    position: absolute;
    top: 20px;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    color: #f1f1f1;
    width: 100%;
    padding: 14px;
    padding-top: 22px;
  }
  main .hero #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  main .hero #myBtn:hover {
    background: #ddd;
    color: black;
  }
  main .hero h1 {
    margin-bottom: 1.875rem;
  }
  main .our-vision {
    margin-top: 291px;
    margin-bottom: 90px;
  }
  main .awards {
    position: relative;
    padding-bottom: 91px;
  }
  main .awards .text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    width: 100%;
    padding: 30px;
  }
  main .awards .text p {
    font-weight: 500;
    text-align: center;
  }
  main .awards h2 {
    margin-bottom: 2rem;
  }
  main .awards picture + picture {
    margin-top: 32px;
  }
  main .visits h2 {
    margin-bottom: 32px;
  }
  main .articals {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .articals h2 {
    margin-bottom: 25px;
  }
  main .articals .item + .item {
    margin-top: 22px;
  }
  main .articals .item {
    padding: 21px;
    border: 0.5px solid gray;
    border-radius: 15px;
  }
  main .articals .item p {
    margin-bottom: 21px;
    line-height: 30px;
  }
  main .articals .item a {
    color: goldenrod;
  }
  main .location {
    background-image: url(../assets/mobile/night-sky-left.png);
    background-repeat: no-repeat;
  }
  main .location .text {
    padding-left: 54px;
    padding-right: 54px;
    margin-bottom: 32px;
    background: rgba(0, 0, 10, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
  }
  main .location .text h3 {
    margin-bottom: 25px;
  }
  main .location .text .icon-and-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    opacity: 0.8;
  }
  main .location .text .icon-and-info + .icon-and-info {
    margin-top: 22px;
  }
  main .location .google-map {
    padding-bottom: 50%;
    position: relative;
  }
  main .location .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  main .they-said h2 {
    margin-bottom: 32px;
  }
  main .our-gouls {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .our-gouls h2 {
    margin-bottom: 25px;
  }
  main .our-gouls p + p {
    margin-top: 22px;
  }
  main .our-gouls p {
    line-height: 34px;
  }
  footer {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(0, 11, 14) 0%, rgb(0, 8, 10) 100%);
    color: whitesmoke;
    padding-top: 1.875rem;
    padding-bottom: 2.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer ul {
    padding-right: 0rem;
  }
  footer .logo {
    max-width: 120px;
    margin-bottom: 2.125rem;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.125rem;
  }
  footer .links li + li {
    margin-top: 1.3125rem;
  }
  footer .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.1875rem;
    margin-bottom: 34px;
  }
  footer .social-media li {
    width: 90%;
  }
  footer .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .text p {
    text-align: center;
  }
}
/*############ for-desktop ###########*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 22px 20px 2px 20px;
  }
  header .logo {
    max-width: 90px;
  }
  header .icon-hamburger,
  header .overlay {
    display: none;
  }
  header ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
  main {
    padding: 0rem 0rem 4rem 0rem;
    text-align: center;
  }
  main .hero #myVideo {
    min-width: 100%;
    min-height: 100%;
  }
  main .hero .content {
    position: absolute;
    top: 0px;
    background: linear-gradient(180deg, rgba(85, 85, 85, 0.86), rgba(0, 0, 0, 0.86));
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding-top: 122px;
  }
  main .hero #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  main .hero #myBtn:hover {
    background: #ddd;
    color: black;
  }
  main .hero h1 {
    margin-bottom: 1.875rem;
    font-size: 5rem;
    font-weight: 800;
  }
  main .hero p {
    color: #f78f07;
    font-size: 1rem;
    font-weight: 800;
  }
  main .our-vision {
    margin-top: 291px;
  }
  main .awards {
    margin-top: 91px;
  }
  main .awards .text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 25, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
    width: 100%;
    padding: 30px;
  }
  main .awards .text p {
    font-weight: 500;
    text-align: center;
  }
  main .awards h2 {
    margin-bottom: 2rem;
  }
  main .visits h2 {
    margin-bottom: 32px;
  }
  main .articals {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .articals h2 {
    margin-bottom: 25px;
  }
  main .articals .item + .item {
    margin-top: 22px;
  }
  main .articals .item {
    padding: 21px;
    border: 0.5px solid gray;
    border-radius: 15px;
  }
  main .articals .item p {
    margin-bottom: 21px;
    line-height: 30px;
  }
  main .articals .item a {
    color: goldenrod;
  }
  main .location {
    margin-top: 33px;
    background-image: url(../assets/mobile/night-sky-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  main .location .text {
    padding-left: 54px;
    padding-right: 54px;
    margin-bottom: 32px;
    background: rgba(0, 0, 10, 0.4);
    box-shadow: 3px 3px 33px 13px rgba(0, 0, 5, 0.4);
  }
  main .location .text h3 {
    margin-bottom: 25px;
    font-size: 45px;
  }
  main .location .text .icon-and-info {
    display: inline-block;
    justify-content: space-around;
    opacity: 0.8;
  }
  main .location .text .icon-and-info + .icon-and-info {
    margin-top: 0px;
    margin-right: 23px;
  }
  main .location .google-map {
    padding-bottom: 50%;
    position: relative;
  }
  main .location .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  main .they-said h2 {
    margin-bottom: 32px;
  }
  main .our-gouls {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .our-gouls h2 {
    margin-bottom: 25px;
  }
  main .our-gouls p + p {
    margin-top: 22px;
  }
  main .our-gouls p {
    line-height: 34px;
  }
  footer {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(0, 3, 3) 0%, rgb(0, 6, 8) 100%);
    color: whitesmoke;
    padding-top: 1.875rem;
    padding-bottom: 2.125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  footer ul {
    padding-right: 0rem;
  }
  footer .logo {
    max-width: 120px;
    margin-bottom: 2.125rem;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.125rem;
  }
  footer .links li + li {
    margin-top: 1.3125rem;
  }
  footer .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.1875rem;
    margin-bottom: 34px;
  }
  footer .social-media li {
    width: 90%;
  }
  footer .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .text p {
    text-align: center;
  }
}
/*############ for-big-desktop ##########*/
ul {
  padding-right: 0rem;
}

/*
* Artifacts pages
*/
.artifacts main {
  margin-top: 20px;
  display: flex;
}

.artifacts .sidenav {
  height: auto;
  scroll-behavior: auto;
  width: 30%;
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 120px;
}

.artifacts .sidenav .dropdown-btn, .fa-caret-down {
  color: goldenrod;
}

.artifacts .sidenav .division {
  margin-bottom: 15px;
}

.artifacts .sidenav .dropdown-container {
  display: none;
  background-color: #262626;
  padding-right: 8px;
}

.artifacts .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.artifacts .sidenav a:hover {
  color: #f1f1f1;
}

.artifacts .info {
  margin-right: 31%; /* Same as the width of the sidenav */
  font-size: 18px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artifacts .info .artifact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.artifacts h1 {
  font-size: 17px;
  color: goldenrod;
}

.artifacts h2 {
  font-size: 15px;
}

.artifacts h3 {
  font-size: 14px;
}

.artifacts p {
  font-size: 13px;
}

@media screen and (max-width: 450px) {
  .artifacts .sidenav {
    padding-top: 15px;
  }
  .artifacts .sidenav a {
    font-size: 18px;
  }
}
.artifacts .img-container {
  width: 30%;
  height: auto;
}/*# sourceMappingURL=style.css.map */