<footer dir="rtl">
  <div class="logo">
    <img src="./assets/logo.png" alt="logo" />
  </div>
  <ul dir="rtl" class="links">
    <li><a href="./pages/call-us.htm">اتصل بنا</a></li>
    <li><a href="./pages/privacy-policy.htm">الشروط والأحكام</a></li>
    <li><a href="./pages/terms-of-service.htm">سياسة الخصوصية</a></li>
  </ul>
  <ul class="social-media">
    <li class="twitter"><i class="fa-brands fa-twitter"></i></li>
    <li class="instagram"><i class="fa-brands fa-instagram"></i></li>
    <li class="youtube"><i class="fa-brands fa-youtube"></i></li>
    <li class="tiktok"><i class="fa-brands fa-tiktok"></i></li>
    <li class="facebook"><i class="fa-brands fa-facebook"></i></li>
    <li class="pinterest"><i class="fa-brands fa-pinterest"></i></li>
    <li class="linkedin"><i class="fa-brands fa-linkedin"></i></li>
  </ul>
</footer>