<header dir="rtl">
  <div class="logo">
    <img src="./assets/logo.png" alt="logo" />
  </div>
  <nav>
    <ul dir="rtl" lang="ar">
      <li><a dir="rtl" lang="ar" href="./index.html">الرئيسية</a></li>
      <li><a dir="rtl" lang="ar" href="./pages/resort.htm">المنتجع</a></li>
      <li><a dir="rtl" lang="ar" href="./pages/visit.htm">خطط زيارتك</a></li>
      <li><a dir="rtl" lang="ar" href="./pages/plog.htm">المدونة</a></li>
      <li><a dir="rtl" lang="ar" href="./pages/who-are-we.htm">من نحن</a></li>
    </ul>
  </nav>
</header>